
#offers .hvrbox,
.hvrbox * {
  box-sizing: border-box;
}

#offers .hvrbox {
  position: relative;
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

#offers .hvrbox img {
  max-width: 100%;
}

#offers .hvrbox .hvrbox-layer_bottom {
  display: block;
}

#offers .hvrbox .hvrbox-layer_top_pink {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #f4b5b6cb;
  color: #1a1a1a;
  padding: 15px;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}




#offers .hvrbox:hover .hvrbox-layer_top_pink,
#offers .hvrbox.active .hvrbox-layer_top_pink {
  opacity: 1;
}

#offers .hvrbox .hvrbox-text {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#offers .hvrbox .hvrbox-text_mobile {
  font-size: 15px;
  border-top: 1px solid rgb(179, 179, 179);
  /* for old browsers */
  border-top: 1px solid rgba(179, 179, 179, 0.7);
  margin-top: 5px;
  padding-top: 2px;
  display: none;
}

#offers .hvrbox.active .hvrbox-text_mobile {
  display: block;
}

/*--------------------------------------------*/


#offers .hvrbox,
.hvrbox * {
  box-sizing: border-box;
  border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.26);
}

#offers .hvrbox {
  position: relative;
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

#offers .hvrbox img {
  max-width: 100%;

}

#offers .hvrbox .hvrbox-layer_bottom {
  display: block;
}

#offers .hvrbox .hvrbox-layer_top_blue {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #67abbacb;
  color: #1a1a1a;
  padding: 15px;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}




#offers .hvrbox:hover .hvrbox-layer_top_blue,
#offers .hvrbox.active .hvrbox-layer_top_blue {
  opacity: 1;
}

#offers .hvrbox .hvrbox-text {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#offers .hvrbox .hvrbox-text_mobile {
  font-size: 15px;
  border-top: 1px solid rgb(255, 255, 255);
  /* for old browsers */
  border-top: 1px solid rgba(255, 255, 255, 0.7);
  margin-top: 5px;
  padding-top: 2px;
  display: none;
}

#offers .hvrbox.active .hvrbox-text_mobile {
  display: block;
}

